# Copyright (C) 2025 Anthony (Lonnie) Hutchinson <chinacat@chinacat.org>
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
# This file is not used, copy it to your home directory and tweak.

[loggers]
keys=root,reactions_predicate,reactions_executor,asyncio,traffic_light

[logger_reactions_executor]
qualname=reactions.executor
level=DEBUG
handlers=stdout
propagate=0

[logger_reactions_predicate]
qualname=reactions.predicate
level=DEBUG
handlers=stdout
propagate=0

[logger_traffic_light]
qualname=traffic_light
level=INFO
handlers=stdout
propagate=0

[logger_asyncio]
qualname=asyncio
level=DEBUG
handlers=stdout
propagate=0

# root logger for everything else
[logger_root]
level=WARNING
handlers=stdout

[handlers]
keys=stdout

[formatters]
keys=default

[formatter_default]
format=%(asctime)s %(name)s %(levelname)s %(filename)s:%(lineno)d: %(message)s
datefmt=
style=%
validate=True
class=logging.Formatter

[handler_stdout]
class=StreamHandler
level=VERBOSE
args=(sys.stdout,)
formatter=default

