# This file is not used, copy it to your home directory and tweak.

[loggers]
keys=root,reactions_predicate,reactions_executor,asyncio,traffic_light

[logger_reactions_executor]
qualname=reactions.executor
level=DEBUG
handlers=stdout
propagate=0

[logger_reactions_predicate]
qualname=reactions.predicate
level=DEBUG
handlers=stdout
propagate=0

[logger_traffic_light]
qualname=traffic_light
level=INFO
handlers=stdout
propagate=0

[logger_asyncio]
qualname=asyncio
level=DEBUG
handlers=stdout
propagate=0

# root logger for everything else
[logger_root]
level=WARNING
handlers=stdout

[handlers]
keys=stdout

[formatters]
keys=default

[formatter_default]
format=%(asctime)s %(name)s %(levelname)s %(filename)s:%(lineno)d: %(message)s
datefmt=
style=%
validate=True
class=logging.Formatter

[handler_stdout]
class=StreamHandler
level=VERBOSE
args=(sys.stdout,)
formatter=default

