# This file is not used, copy it to your home directory and tweak.

[loggers]
keys=root,whenstate_predicate,whenstate_executor,asyncio,traffic_light

[logger_whenstate_executor]
qualname=whenstate.executor
level=DEBUG
handlers=stdout
propagate=0

[logger_whenstate_predicate]
qualname=whenstate.predicate
level=DEBUG
handlers=stdout
propagate=0

[logger_traffic_light]
qualname=traffic_light
level=INFO
handlers=stdout
propagate=0

[logger_asyncio]
qualname=asyncio
level=DEBUG
handlers=stdout
propagate=0

# root logger for everything else
[logger_root]
level=WARNING
handlers=stdout

[handlers]
keys=stdout

[formatters]
keys=default

[formatter_default]
format=%(asctime)s %(name)-25s %(levelname)08s: %(message)s
datefmt=
style=%
validate=True
class=logging.Formatter

[handler_stdout]
class=StreamHandler
level=VERBOSE
args=(sys.stdout,)
formatter=default

