# This file is not used, copy it to your home directory and tweak.

[loggers]
keys=root,whenstate_state,whenstate_predicate,counter_test,traffic_light_test

[logger_whenstate_predicate]
qualname=whenstate.predicate
level=INFO
handlers=stdout
propagate=0

[logger_whenstate_state]
qualname=whenstate.state
level=DEBUG
handlers=stdout
propagate=0

[logger_counter_test]
qualname=counter_test
level=DEBUG
handlers=stdout
propagate=0

[logger_traffic_light_test]
qualname=traffic_light_test
level=DEBUG
handlers=stdout
propagate=0


# root logger for everything else
[logger_root]
level=WARNING
handlers=stdout

[handlers]
keys=stdout

[formatters]
keys=default

[formatter_default]
format=%(asctime)s %(name)-25s %(levelname)08s: %(message)s
datefmt=
style=%
validate=True
class=logging.Formatter

[handler_stdout]
class=StreamHandler
level=DEBUG
args=(sys.stdout,)
formatter=default

